<div>
  <header class="header">
    <nav class="navbar navbar-default mb0" style="margin-bottom: 0">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span>BUG</span>
            <span class="smallTitle">shout</span>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
          <li>
            <a href="/#/main">
              <span class="glyphicon glyphicon-home"></span>
              <span>首页</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
              <span>关于</span>
            </a>
          </li>
          <li v-if="login">
            <a href="#/admin">{{login.username}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="title container-fuild">
    <div class=" row">
      <div class="col-sm-11">
        <input type="text" class="form-control" placeholder="文章标题" aria-describedby="basic-addon2"
               v-model="article.title"/>
      </div>
      <button type="button" class="btn btn-success col-sm-1" @click="addLabel">发表博客</button>
    </div>
  </div>
  <div id="app">
    <mavon-editor @change="htmlcode" :toolbars="toolbars" v-model="markedValue"/>
  </div>
  <div class="article container-fuild" v-show="send">
    <div class="row">
      <div class="panel panel-default col-4">
        <div class="panel-heading">摘要 标签</div>
        <div class="panel-body">
          <textarea cols="68" rows="10" maxlength="100" v-model="article.abstract"></textarea>
        </div>
        <div class="commandLabel">
          <span>推荐标签:</span>
          <div class="dropdown mr20">
            <a href="#" class="dropdown-toggle select m6" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" v-if="commandlabel[0]">{{article.label.labelName}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li v-for="item in commandlabel" @click="chooseLabel(item)">
                <a href="javascript:;">
                  <span v-if="item.labelName">{{item.labelName}}</span>
                </a>
              </li>
            </ul>
          </div>
          <span>文章类型:</span>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle select m6" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{{article.type}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li v-for="item in writeType" @click="chooseType(item)">
                <a href="javascript:;">
                  <span>{{item}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="r">
            <button type="button" class="btn btn-default" @click="addLabel">取消</button>
            <button type="button" class="btn btn-success" @click="saveArticle">发布</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
